@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* text-black */
  --background-rgb: 0, 0, 0;

  /* text-neutral-300 */
  --foreground-rgb: 212, 212, 212;
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}
