@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rgb-black: 0, 0, 0;
  --rgb-neutral-300: 212, 212, 212;
}

body {
  background: rgb(var(--rgb-black));
  color: rgb(var(--rgb-neutral-300));
}
