@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 0, 0, 0;
  --foreground-rgb: 204, 204, 204;
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}
